<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Plant Project</title>
	<!-- <link rel="stylesheet" href="/css/bulma.min.css">
	<link rel="stylesheet" href="/css/layout.css"> -->
</head>

<body>

	<div class="main nav" style="background-color: blanchedalmond;">


		<h2>Plant Project</h2>


		<div class="hamburger menu icon" style="margin-left: 200px;">
			<div class="slide menu">
				<ol>
					<li><a href="">Start</a></li>
					<li><a href="">Ads</a></li>
					<li><a href="">About</a></li>
					<li><a href="">Contact</a></li>
				</ol>
			</div>
		</div>



		<div class="person icon" style="margin-left:200px">
			<ol>
				<li><a href="/accounts/sign-up">Sign up</a></li>
				<li><a href="/accounts/sign-in">Sign in</a></li>
			</ol>
		</div>


		<div class="db tester" style="margin-left:200px">
			<ol>
				<li><a href="/accounts/">accounts-list-all</a></li>
				<li><a href="/accounts/:username">accounts-show-one</a></li>
				<li><a href="/accounts/sign-in">accounts-sign-in</a></li>
				<li><a href="/accounts/sign-up">accounts-sign-up</a></li>
			</ol>
		</div>




	</div>


	<main>{{{body}}}</main>


	<footer>
		<!-- Copyright © The Pigus 2021 | -->
	</footer>


</body>

</html>