<!-- Lägg till
1. Rubrik
2. Beskrivning av website och oss
-->

<div class="container">

    <div class="col-12 text-center">
        <h1>About</h1>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <p class="lead fw-normal">
                Plant Swap provides a smooth and flexible secondhand plant trading platform for the
                noncorporate. It is the perfect place for plant enthusiasts to trade everything that grows (ie. plants,
                cuttings and seeds) between each other.
            </p>
        </div>
        <div class="col-2"></div>
    </div>

</div>