<!-- Lägg till
1. Fixa contact form
-->

<div class="container">

    <div class="col-12 text-center">
        <h1>Contact</h1>
        {{msg}}
    </div>

    <div class="row justify-content-center">
        <div class="col-auto"></div>

        <div class="col-8 text-center">

            <p>
                Här besvarar vi alla dina frågor och kommentarer om vår organisation och våra tjänster.
            </p>

            <!-- contactModal -->
            <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">contact form</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <form action="/mail" method="POST">
                            <div class="modal-body">

                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                                    <input class="form-control" placeholder="name" name="name">
                                </div>

                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">subject</label>
                                    <input class="form-control" placeholder="subject" name="subject">
                                </div>

                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" class="form-label"></label>
                                    <textarea class="form-control" rows="3" name="text"></textarea>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-auto"></div>
    </div>


    <div class="row justify-content-center">
        <div class="col-auto"></div>
        <div class="col-2 text-center">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#contactModal">
                contact form
            </button>

        </div>
        <div class="col-auto"></div>
    </div>

</div>