.page{
	display: none;
}

.page.current-page{
	display: block;
}


html {
	height: 100%;
	width: 100%;
	}
	
	body {
	  height: 100%;
	  width: 100%;
	  font-family: 'Catamaran', sans-serif;  
	  margin: 0px;
	}
	
	.start-body {
	  background-image: url("/images/startpage-backround.jpg")  ;
	  height: 100%;
	  width: 100%;
	  max-width: 2400px;
	  margin: auto;
	}
	
	.header {
	  position: fixed;
	  top: 0;
	  right: 0;
	  left: 0;
	  padding: 0;
	  z-index: 10000;
	}
	
	main {
	  max-width: 2000px;
	  margin: auto;
	  min-height: 100%;
	  margin-top: 115px;
	}
	
	.hidden-list {
		list-style: none;
	}

	.hidden-sign-in-out {
		display: none;
	}
	.loader-spinner{
		margin: 20px;
	}
	
	.img-thumbnail {
		float: center;
		width:  400px;
		height: 400px;
		list-style: none;
	}
	
	.image-hight {
	  height:700px;
	 
	}

	.divider-style {
		margin-left: 40%;
		width:20%;
		align-content: center;
		margin-top: 50px;
		margin-bottom: 25px;
	
	}
	
	.bi-list::before {
	  display: inline-block;
	  background-repeat: no-repeat;
	  background-size: 1rem 1rem;
	  font-size: 40px;
	  color:#2b2b2b;
	}

	.bi-house::before {
		display: inline-block;
		background-repeat: no-repeat;
		background-size: 1rem 1rem;
		font-size: 40px;
		color:#2b2b2b;
	  }
	
	.bi-person-check::before, .bi-person::before {
	  display: inline-block;
	  background-repeat: no-repeat;
	  background-size: 1rem 1rem;
	  font-size: 35px;
	  color:#2b2b2b;
	}
	
	.nav-link.active, .show>.nav-link {
	  color: #fff;
	  background-color: #2b2b2b;
	}
	
	p {
	  font-family: 'Catamaran', sans-serif;
	}
	
	.logo {
	width: auto;
	height: 100px;
	}