html {
height: 100%;
width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Catamaran', sans-serif;  
  margin: 0px;
}

.start-body {
  background-image: url("/images/startpage-backround.jpg")  ;
  height: 1300px;
  max-height: 1300px;
  width: 100%;
  max-width: 2400px;
  margin: auto;
}


.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0;
  z-index: 10000;
}


main {
  max-width: 2000px;
  margin: auto;
  min-height: 100%;
  margin-top: 150px;
}

.img-thumbnail {
    float: center;
    width:  400px;
    height: 400px;
    min-width: 400px;
    min-height: 400px;
    padding: 0rem;
    border: none;
    border-radius: 0.25rem;
}

.image-hight {
  height:800px;
  object-fit: cover;
}

.bi-list::before {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  font-size: 40px;
  color:#2b2b2b;
}

.bi-person-check::before, .bi-person::before {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  font-size: 35px;
  color:#2b2b2b;
}

p {
  font-family: 'Catamaran', sans-serif;
}

.logo {
width: auto;
height: 100px;
}

.nav-link:hover{
  background-color: #212529;
  color: white;
}

#start-card{
  min-width: 400px;
  height: 100%;
}

#account-menu{
  min-height: 100%;
  min-width: 100%;
}

.nav-link .active{
  color: black;
}

#ad {
  min-width: 400px;
  height: 100%;
}

#ad-clickable {
  min-width: 400px;
  height: 100%;
}

#ad-clickable:hover{
  min-width: 400px;
  height: 100%;
  background-color: #e9ecef;
}

a {
  text-decoration: none;
}

#card-element {
  min-width:min-content;
}

.img-card {
  float: center;
  width:  300px;
  height: 300px;
  min-width: 300px;
  min-height: 300px;
  padding: 0rem;
  border: none;
  border-radius: 0.25rem;
}




