<script>
    document.addEventListener("DOMContentLoaded", function () {

        const accoutMenuLink = document.getElementById("offcanvasRight")
        accoutMenuLink.id = ""

    })
</script>

<nav id="account-menu" class="nav flex-column align-items-stretch mt-5">

    <a class="nav-link link-dark active" aria-current="page" href="/my-account/ads">My Ads</a>
    <a class="nav-link link-dark" href="/my-account/bids">My Bids</a>
    <a class="nav-link link-dark" href="/my-account/personal-data">Personal Data</a>

    <div class="col-12 ms-3 mt-5">
        <form action="/accounts/sign-out" method="POST">
            <input class="btn btn-outline-dark" type="submit" value="sign out">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
        </form>
    </div>
</nav>