<script> // antingen funkar redirect eller så funkar funktionen med event.preventDefault() men länkar redirectar inte
    document.addEventListener("DOMContentLoaded", function () {

        const links = document.querySelectorAll("nav a")

        links.forEach(element => element.addEventListener("click", function (event) {

            for (i = 0; i < links.length; i += 1) { // hide all forms

                if (element == links[i]) {
                    element.classList.add("active")
                } else {
                    links[i].classList.remove("active")
                }
            }

            //event.preventDefault()
        }))
    })
</script>

<nav class="nav flex-column">

    <a class="nav-link active" aria-current="page" href="/ads/myAds">My Ads</a>
    <a class="nav-link" href="/bids/myBids">My Bids</a>
    <a class="nav-link" href="/myFavoriteAds">Favorites</a>
    <a class="nav-link" href="/user/personalData">Personal Data</a>

    <div class="col-12 ">
        <form action="/accounts/sign-out" method="POST">
            <input class="btn btn-light" type="submit" value="sign out">
        </form>
    </div>
</nav>